.promotion {
  margin-top: 2rem;
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.channel_link {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  text-decoration: none;
}

.channel_link .wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  background-color: var(--nav-bg-color);
  transition: var(--theme-change-transition);
  padding: 0.6rem 0.8rem;
  border-radius: 0.6rem;
}

.channel_link .channel_logo {
  background-image: url("/assets/channel_logo.jpg");
  background-size: cover;
  background-position: center;
  height: 4.4rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.channel_link .channel_name {
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  transition: var(--theme-change-transition);
  font-size: 2rem;
}

.promo_link {
  margin: 0.4rem 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo_link .text {
  font-size: 1.1rem;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  transition: var(--theme-change-transition);
}

.promo_link a {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  text-decoration: none;
  padding: 0.3rem 0.4rem;
  border-radius: 0.3rem;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  background-color: var(--nav-bg-color);
  transition: var(--theme-change-transition);
}

.promo_link a .link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 0.6rem;
  color: var(--general-font-color);
  font-family: var(--general-font-family);
  transition: var(--theme-change-transition);
}

.promo_link a .link .icon {
  height: 1.2rem;
  aspect-ratio: 1 / 1;
  background-color: white;
  padding: 0.1rem 0.2rem;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.promo_link a .link .icon svg {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--fill);
  color: var(--fill);
}



@media screen and (max-width: 768px) {

  .channel_link {
    gap: 1rem;
  }

  .channel_link .channel_logo {
    height: 3.8rem;
  }

  .channel_link .channel_name {
    font-size: 1rem;
  }
}