@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #202325; */
}

html:has(#app.light) {
  color-scheme: light;
}

html:has(#app.dark) {
  color-scheme: dark;
}

#app {
  width: 100%;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;

  --discord-purple: #5865f2;
  --youtube-red: #ed1d24;
  --link-color: #0091ff;

  --general-font-family: Ubuntu, Verdana, Geneva, Tahoma, sans-serif;
  --special-font-family: Verdana, Geneva, Tahoma, sans-serif;
  --tooltip-font-family: monospace, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  --hover-bg-open-transition: transform 150ms ease-out, opacity 50ms linear;
  --hover-tooltip-open-transition: transform 100ms 700ms ease-out, opacity 50ms linear;
  --hover-tooltip-close-transition: transform 0ms ease-out, opacity 50ms linear;

  --theme-change-duration: 300ms;
  --theme-change-bg-transition: background-color var(--theme-change-duration) ease-out;
  --theme-change-clr-transition: color var(--theme-change-duration) ease-out;
  --theme-change-box-shadow-transition: box-shadow var(--theme-change-duration) ease-out;
  --dropdown-open-transition: scale calc(var(--theme-change-duration) / 3) 100ms ease-out;
  --dropdown-close-transition: scale calc(var(--theme-change-duration) / 3) ease-out;

  --theme-change-transition: var(--theme-change-bg-transition), var(--theme-change-clr-transition), var(--theme-change-box-shadow-transition);

  --popup-open-transition: opacity var(--theme-change-duration) calc(var(--theme-change-duration) / 1.6) ease-out, scale calc(var(--theme-change-duration) * 1.5) ease-out;
  --popup-close-transition: opacity calc(var(--theme-change-duration) / 5) calc(var(--theme-change-duration) / 1.6) ease-out, scale calc(var(--theme-change-duration) * 1.5) ease-out;
}


#app.dark {
  background-color: #202325;
  transition: var(--theme-change-transition);

  --nav-bg-color: #141719;
  --main-bg-color: #202325;
  --general-font-color: #EDF1F4;
  --btn-hover-color: #2C2F36;
  --tooltip-background-color: #2C2F36;

  --display-bg: #25343c;
  --display-expression-clr: #deedf5;
  --button-grid-bg: #191c1e;
  --op-btn-bg: #364954;
  --digit-btn-bg: #1d2529;
  --all-clear-btn-bg: #484364;
  --equal-btn-bg: #007ca1;
  --frame-shadow-clr: #0003;

  --focus-outline: 0.1rem solid var(--general-font-color);
}

#app.light {
  background-color: white;
  transition: var(--theme-change-transition);

  --nav-bg-color: #E5F1F6;
  --main-bg-color: #EDF1F4;
  --general-font-color: #121317;
  --btn-hover-color: #D0DFE6;
  --tooltip-background-color: #D0DFE6;

  --display-bg: #d8e7ed;
  --display-expression-clr: #181C21;
  --button-grid-bg: white;
  --op-btn-bg: #d1e5f3;
  --digit-btn-bg: #eef4f7;
  --all-clear-btn-bg: #e5deff;
  --equal-btn-bg: #c2e8ff;
  --frame-shadow-clr: #0002;

  --focus-outline: 0.1rem solid var(--general-font-color);
}

#app {
  background-color: var(--main-bg-color);
}